<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="speccy" version="1.32.774"/>
	<package id="cpu-z" version="2.3.0.20221018"/>
	<package id="speedtest" version="1.1.1.1"/>
	<package id="utorrent" version="3.5.5.45271"/>
	<package id="treesizefree" version="4.6.1.2"/>
	<package id="paint.net" version="4.3.12"/>
	<package id="steam-client" version="2.10.91.92"/>
	<package id="vscode" version="1.73.1"/>
	<package id="docker-desktop" version="4.14.1"/>
	<package id="postman" version="10.1.2"/>
	<package id="7zip" version="22.1"/>
	<package id="dropbox" version="161.4.4923"/>
	<package id="firefox" version="107.0"/>
	<package id="foxitreader" version="12.0.2.12465"/>
	<package id="notepadplusplus" version="8.4.7"/>
	<package id="plexmediaserver" version="1.29.1.6316"/>
	<package id="spotify" version="1.1.98.691"/>
	<package id="vlc" version="3.0.17.4"/>
	<package id="powershell-core" version="7.3.0"/>
	<package id="git" version="2.38.1"/>
</packages>